@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins.ttf')
}
    *{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
#headerindex
{
    background:#0475ba;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
}
#headerindex h1{
    color: white;
    font-size: 25px;
    margin-left: 40px;
}
.headerheader{
    display: none;
}
#headerindex .headerheader{
    font-size: 25px;
    margin-right: 600px;
}
#headerindex .headerheader a{
    color: white;
    margin: 10px;
    text-decoration: none;
}
#ection{
    font-size: 20px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    #ection .name{
        color: black;
     margin-top: 80px;
    }
    .name p{
        color:#0475ba;
        font-size: 30px;
        margin-top: 30px;
    }
    #ection img{
        margin-left: 20px;
        border-radius: 50%;
        margin-top: 30px;
        box-shadow: 3px 3px 10px grey;
    }
    #more{
        background-color:#0475ba;
        height: 300px;
        color:white ;
        display: flex;
        align-items:center;
        /* margin-top: 10px;   */
    }
    #more h4{
        color: white;
        font-size: 27px;
        /* text-align: center; */
        margin-left: 600px;  
    }
    ul{
        font-size: 18px;
        list-style-type:dot;
        margin-left: 100px;
        margin-top: 40px;
    } 
    #experiences{
        margin-top: 70px;
        height: 400px;
    }
    h4{
        color: #0475ba;
        font-size: 27px;
        text-align: center;
    }
    .head { 
       display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        font-size: 25px;
        width: 700px;
        margin-left: 70px;
    }
    .para{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 25px;
        font-size: 17px;
        margin-left: 70px;
    }
    .head2{ 
        display: flex;
         align-items: flex-start;
         flex-direction: row;
         justify-content: space-between;
         margin-top: 30px;
         font-size: 25px;
         width: 700px;
         margin-left: 70px;    
     }
     .para2{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 25px;
        font-size: 17px;
        margin-left: 70px;
    }
    #formations{
        background-color: #0475ba;
        height: 300px;
        margin-top: 80px;
        display: flex;
        align-items: center;
    }
    #for h4{
        font-size: 27px;
        color: white;
        margin-left: 550px;
    }
    .form{
        display: flex;
         align-items: flex-start;
         flex-direction: row;
         justify-content: space-between;
         margin-top: 40px;
         margin-left: 70px;
         font-size: 20px;
         width: 700px;
         color: white;
    }
    .forma{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 70px;
        font-size: 20px;
        width: 700px;
        color: white;
    }
    #passions{
        height: 200px;
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        /* justify-content: center; */
    }
    #passions h4{
        font-size: 27px;
        color: #0475ba;
        margin-left: 600px;
    }
    #passions p{
        font-size: 20px;
        margin-top: 100px;
       margin-left: -620px;
    }
    #footer{
        background-color:#0475ba;
        font-size: 20px;
        height: 200px;
        /* margin-bottom: 30px; */
        /* display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center; */
    }
    .last{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        /* justify-content: center; */
        margin-bottom: 40px;
        padding-top: 30px;
    }
    .last a{
        margin-left: 100px;
        color: white;
    
    }
    .last1 i{
        /* margin-left: 100px; */
        color: white;

    }
   
@media (min-width: 768px) {
    .headerheader{
        display: inline-block;
    }
    #ection{
        flex-direction: row;
        justify-content: center;
    }
    #pres #formations #footer {
        padding: 40px 100px 40px 100px;
    }
    #passions #experiences {
        padding: 40px 100px 40px 100px;
    }
}