.error {
    display: block;
    color: rgb(218, 126, 126);
    font-style: italic;
    background-color: white;
  }
  .results-list{
    position: absolute;
    top: 100px;
  margin-left: 100px;
   
  }
  .results-list img {
    width: 180px;
    height:fit-content;
  }
  .results-list h3{
    margin-left: 50px;
    margin-top: 30px;
  }
  .results-list p {
    margin-left: 50px;
  }
  .results-list .synopsis {
    font-size: 14px;
    color:white;
    width: 85%;
    margin-left: 50px;
    margin-top: 50px;
  }
  .movie {
    width: 80%;
    padding-bottom: 8px;
    border:  1px solid rgb(211, 211, 211);
    box-shadow: whitesmoke;
    border-radius: 20px;
  }
  .class1 .p1{
    color: gray;
  }
  .page-link{
    left: 280px;
    background-color:teal;
  }