
#logo-tmdb img{
    width: 150px;
    height: auto;
  }
  nav{
    background-color:rgb( 13, 37, 63);
  }
.text{
  display: block;
  margin-left: 50px;
}
#carouselExampleSlidesOnly{
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}